NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBMcadjnvcanfv-cadsncoatzoDwgN8U
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=stashly.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://stashly.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=stashly.firebaseapp.com-ki4ded
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=stashly.firebaseapp.com-ki4ded.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=384710280923
NEXT_PUBLIC_FIREBASE_APP_ID=1:384710280923:web:934a3fe38de43dc3bd02a31
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-R8JH6GTRE4V
